@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
--Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  

  body{
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    display: grid;
    place-items: center;
    background-color: var(--Light-Grayish-Blue);
    padding:3rem 2rem;
  }

  .wrapper{
    position: relative;
  }

  .primary{
    position: relative;
    display: flex;
    max-width: 900px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;

  }

  .img-drawer img{
    position: absolute;
    height: 100%;
    width: 45%;
    object-fit: cover;

  }

 

  .p-txt{
    padding-block: 2rem;
    padding-inline: 3rem;
    margin-left: calc(63% - 9rem);
  }

  .p-head{
    font-size: 22px;
    color: var(--Desaturated-Dark-Blue);
  }

  .p-center{
    font-size: 14px;
    padding-block: 1rem;
    color: var(--Grayish-Blue);
  }

  .profile{
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    
    .img-avatar{
    height: 50px;
    border-radius: 50%;
  }

  .name{
    font-size: 16px;
    color: var(--Very-Dark-Grayish-Blue);
}

.name > span{
    
    font-size: 14px;
    color: var(--Grayish-Blue);

  }



 .share{
      display: flex;
      margin-left: auto;
 }

  .hover-icon {
    display: flex ;
    z-index: 1;
    letter-spacing: 4px;
    gap: 1rem;
    justify-content: center;
    width: 16rem;
    background: var(--Very-Dark-Grayish-Blue );
    position: absolute;
    transform:  translateY(25px);
    color: #fff;
    right:-60px;
    bottom: 125px;
    padding: 1rem;
    text-align: center;
    border-radius: 0.6rem;

  }

  .enable{
    display: none;

  }
  
  .hover-icon::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1rem;
    background: var(--Very-Dark-Grayish-Blue );
    position: absolute;
    bottom: -0.7rem;
    left: calc(50% - 0.5rem);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }

  .icon-holder{
    display: inline-flex;
    padding: 0.6rem;
    border-radius: 100%;
    background-color: var();
    background-color: var(--Light-Grayish-Blue);
    font-size: 20px;
    border: none;
    color: var(--Desaturated-Dark-Blue);
    cursor: pointer;
    }

    .icon-holder[data-visible="true"]{
      background: var(--Desaturated-Dark-Blue);

    }

    .svg-toggle{
      fill:#6E8098;
    }
 

  @media (max-width: 768px) {

    .primary{
      flex-direction: column;
      max-width: 400px;
    }

    .img-drawer img{
      position: relative;
      width: 100%;
    }

    .p-txt{
      margin-left: 0;
    }

    .hover-icon{
      width: 16rem;
    }
    
  }

 

